@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe_container{
  height:400px;
  background-color:gray;
  width: 330px;
  border-radius:10px;
  overflow:hidden;
}

.recipe_image{
  height:300px;
  width:330px;
}
.recipe_name{
  font-family: 'Quicksand', sans-serif;
}